/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

td.used_team {
  background: #eee;
}

td.winning_team {
  background: green;
}

td.correct {
  border: 3px solid green;
  background: #8B8;
}

td.incorrect {
  border: 3px solid #933;
  background: #C44;
}

[popover] {
    padding: 10px;
    border: 1px solid black;
    background-color: lightyellow;
}

[popover]:popover-open {
    /* Styles applied when the popover is showing */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

[popover]::backdrop {
    /* Styles for the background overlay when popover="auto" */
    background-color: rgb(0 0 0 / 25%);
}
